.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #28342a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-body{
  display: flex;
  flex-direction: row;
}

.side-bar{
  position: fixed;
  background-color: rgb(21, 104, 0);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 12vw;
  align-items: center;
}

.map-page{
  /* left: 12vw;
  width: 88vw;
  height: 100%;
  border: 5px black; */
  display: grid;
  grid-template-columns: 1fr 88vw;
}

.list-page{
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 88vw;
  /* display: grid;
  grid-template-rows: 1fr 10fr; */
  left: 12vw;
}
.list-page-body{
  /* top: 15vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 88vw;
  left: 0%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.list-title-bar{
  background-color: #707070;
  color: white;
  /* font-size: 2em; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  /* height: 15vh; */
  /* width: 88vw; */
  left: 12vw;
  top: 0%;
  position: fixed;
}


/* .list-title{
  height: 15vh;
  width: 30%;
  background-color: #707070;
} */


/* .list-section{
  top: 15vh;
  position: fixed;
  /* display: inline-block;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
} */

/* .list-page{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 15%;
  height: 100%;
  /* background-image: url('../src/images/swissCheeseCoyote.jpg');
  background-color: #707070;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.map-body{
  position: fixed;
  z-index: 1;
  height: 50%;
  width: 50%;
}

.map-section{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 15%;
  height: 100%;
  width: 88vw;
  left: 12vw;
  background-image: url('../src/images/swissCheeseCoyote.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
  background-image: url('../src/images/wood.jpg')
}

.toggle-category-button{
  background-image: url('../src/images/wood.jpg')
}

.welcome{
  background: url('../src/images/kerry-back.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button:hover{
  opacity: .8;
}

.toggle-category-button:hover{
  opacity: .8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
