.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #28342a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.side-bar{
  position: fixed;
  background-color: rgb(21, 104, 0);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 12vw;
  align-items: center;
}

.list-item{
  height: 7vh;
}

.map-section{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 15%;
  height: 100%;
  width: 88vw;
  left: 12vw;
  background-image: url('../src/images/swissCheeseCoyote.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
  background-image: url('../src/images/wood.jpg')
}

.toggle-category-button{
  background-image: url('../src/images/wood.jpg')
}

.welcome{
  background: url('../src/images/kerry-back.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button:hover{
  opacity: .8;
}

.toggle-category-button:hover{
  opacity: .8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
